@import './../variables';


.buttons{
    &__btn{
        color: $baseColor;
        background-color: $primaryColor;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 22px; 
        border-radius: 50px;
        transition: 0.4s;

        &:hover{
            background-color: $primaryColorLight;
            transition: 0.4s;
        }
    } 

    &__btn-back{
        color: $baseColor;
        background-color: $primaryColor;
        border: none;
        outline: none;
        padding:4px;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.4s;
        

        &:hover{
            background-color: $primaryColorLight;
            transition: 0.4s;
        }

        &__icon{
            height: 30px; 
        } 
    }
}
