.card-wrapper{
    width: 350px;
    .card{
        border: 1px solid $primaryColor;
        border-radius: 20px;
        padding-bottom: $height/1.5;
        position: relative;
        width: 100%;

        &__content{
            padding: 20px;
            &__headline{
                margin:0;  
                font-size: $fontSizeBig;
            }

            &__headline{
                margin-bottom: 10px;
            }

            &__text{
                font-size: $fontSizeSmall;
                margin:0;
            }

            &__accessibility{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0 0 0;
            padding: 0;
                &__circle{
                    border-radius: 50%;
                    margin: 0 10px 0 0;
                    height: 20px;
                    width: 20px;
                    &--red{
                        background-color: $red;
                    }
                    &--green{
                        background-color: $green;
                    }
                    &--yellow{
                        background-color: $yellow;
                    }
                    &--grey{
                        background-color: $grey;
                    }
                }

                &__level{
                    font-size: $fontSizeMedium;
                    margin: 0;
                    color: $darkGrey;
                }
            }
            &__btn{
                position: absolute;
                left: 0;
                bottom: -$height/4;
                width: 100%;

                color: $baseColor;
                background-color: $primaryColor;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 22px; 
                border-radius: 50px;
                transition: 0.4s;
                height: $height;
                font-size: $fontSizeBig;
                margin: 0;
            
                &:hover{
                    background-color: $primaryColorLight;
                    transition: 0.4s;
                }
            } 
        }
    }   
}