@import './../variables';

.filter{
    height: 120px;
    width: 80px;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover .filter__content__icon {
            color: $baseColor;
        }

        &:hover .filter__content__icon__food {
            background-color: $primaryColor;
        }

        &__icon{
            color: $primaryColor;

            &__food{
                fill: currentColor;
                height: 90px;
                width: 90px;
                background-color: $baseColor;
                border-radius: 50%;
                padding: 15px;
            }
        }
        &__text{
            margin: 0;
            font-size: $fontSizeMedium;
        }
    }
}