@import './../variables';

.form-elements{
    margin-left: 3rem;
    
    &__search-field{
        border: 2px solid $grey;
        padding: 10px 20px;
        border-radius: 50px;
        outline: none;
        max-width: 100%;

        &:focus{
            border: 2px solid $primaryColor;
        }
    }
}