{
  "presets": [
    ["@babel/preset-env", {
    }]
  ],
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "scss", "css", "markup"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
    }]
  ]
}