@mixin max-width-container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}