$widthTablet: 1100px;
$widthPhone: 600px;

$primaryColor: #00603C;
$primaryColorLight: rgb(0, 180, 114);
$secondaryColor: rgb(201, 231, 218);
$baseColor: #fefefe;

$grey:#707070;

$heightNavBar: 4rem;    
$radius: 100px;
$font-size-big: 24px;
$font-size-medium: 20px;
$font-size-small: 18px;
